
<div class="p-4 w-full bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <ng-content select=[title]></ng-content>
    <ng-content select=[description]></ng-content>
    <div class="mt-8">
        <div>
             <h5 class="text-2xl font-bold py-4">We invest in the world's potential</h5>
             
        </div>
        <div class="flex justify-center item-center">
             <ng-content select=[icon]></ng-content>
        </div>
        <div>
            <p class="flex py-2"><svg fill="#3f82ef" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 64 64" width="22px"><path d="M32,6C17.641,6,6,17.641,6,32c0,14.359,11.641,26,26,26s26-11.641,26-26C58,17.641,46.359,6,32,6z M29,42L18,31l2-3l9,6 l13.957-12L46,25L29,42z"/></svg>Dynamic reports and dashboards</p>
            <p class="flex py-2"><svg fill="#3f82ef" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 64 64" width="22px"><path d="M32,6C17.641,6,6,17.641,6,32c0,14.359,11.641,26,26,26s26-11.641,26-26C58,17.641,46.359,6,32,6z M29,42L18,31l2-3l9,6 l13.957-12L46,25L29,42z"/></svg>Templates for everyone</p>
            <p class="flex py-2"><svg fill="#3f82ef" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 64 64" width="22px"><path d="M32,6C17.641,6,6,17.641,6,32c0,14.359,11.641,26,26,26s26-11.641,26-26C58,17.641,46.359,6,32,6z M29,42L18,31l2-3l9,6 l13.957-12L46,25L29,42z"/></svg>Development workflow</p>
            <p class="flex py-2"><svg fill="#3f82ef" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 64 64" width="22px"><path d="M32,6C17.641,6,6,17.641,6,32c0,14.359,11.641,26,26,26s26-11.641,26-26C58,17.641,46.359,6,32,6z M29,42L18,31l2-3l9,6 l13.957-12L46,25L29,42z"/></svg>Limitless business automation</p>
         </div>
    </div>
</div>

