<navbar></navbar>
<div class="grid grid-cols-12 gap-4 mx-3" >
    <div class="col-span-3"><sidebar [content_list]="subject_list" (selected)="getSubject($event)"></sidebar></div>
    <div class="col-span-9" ><card-content>
        <h5 title class="text-3xl font-bold">{{subject.name}}</h5>
        <p class="py-2" description>{{subject.description}}</p>
        <img icon src="assets/{{subject.thumbnail}}" class="w-24 py-5">
    </card-content></div>
</div>

