
 
 <div class="p-4 w-full bg-white rounded-lg border shadow-md sm:p-6 dark:bg-gray-800 dark:border-gray-700">
   <h5 class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white">
       Connect wallet
   </h5>
   <ul class="my-4 space-y-3">
       <li *ngFor="let list of content_list" onclick="">
           <button (click)="selectSubject(list)" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
            <img src="assets/{{list.thumbnail}}" alt="" width="30">
            <span class="ml-3">{{list.name}}</span>
           </button>
       </li>
   </ul>
</div>

